{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row home-benefit">
                <div class="col-md-5">
                    <img src="{% static 'img\home\benefit.png' %}">
                </div>
                <div class="col-md-7">
                    <h4>Learn Awesome Tech</h4>
                    <p>You will learn about programming language, such as Python and Javascript, 
                        build back-end apps using Flask framework with microservice concept, 
                        build client-site apps using React Library, etc.
                    </p>
                </div>
            </div>
            <div class="row home-benefit">
                <div class="col-md-5">
                    <img src="{% static 'img\home\search-job.png' %}">
                </div>
                <div class="col-md-7">
                    <h4>Land A New Job</h4>
                    <p>If you can pass this awesome program, you will be part of our reliable tech team, 
                        especially for Software Engineer position & other tech position such as 
                        Quality Engineer, System Analyst, etc.
                    </p>
                </div>
            </div>
            <div class="row home-benefit">
                <div class="col-md-5">
                    <img src="{% static 'img\home\get-paid.png' %}">
                </div>
                <div class="col-md-7">
                    <h4>Get Paid to Learn</h4>
                    <p>Join this program for free and earn some money! Yes, you read that right. 
                        No registration fee required to enter this program. To make things even better, 
                        you will receive pocket money just for participating. Cool, right?
                    </p>
                </div>
            </div>
            <div class="row col-md-12 home-gap50"></div>
            <div class="row home-benefit">
                <div class="col-md-5">
                    <img src="{% static 'img\home\mission.png' %}" class="big-img">
                </div>
                <div class="col-md-7">
                    <div class="row col-md-12">
                        <h3>Who are we?</h3>
                        <p>Alpha Tech Academy is a tech talent incubator that gives everyone
                            (even non IT background) a chance to be a professional Tech Talent
                            within 3 months.
                        </p>   
                    </div>
                    <div class="row col-md-12">
                        <h3>What is our Mission?</h3>
                        <p>We want to improve capability Tech Talent in Indonesia.</p>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 home-gap50"></div>
            <div class="row col-md-12 home-gap50"></div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1>What will you learn?</h1>
                </div>
                <div class="col-md-12 home-gap20"></div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-html.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-programming.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-git.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-api.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-react.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-server.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-tdd.png' %}">
                    </div>
                </div>
                <div class="col-md-3 outside-box">
                    <div class="box">
                        <img src="{% static 'img\home\learn-scrum.png' %}">
                    </div>
                </div>
                <div class="col-md-12 home-gap20"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}