{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row col-md-12 profile">
            <img src="{% static 'img\author\author.jpg' %}" alt="">
        </div>
        <div class="row col-md-12 profile">
            <h3>Nama Author</h3>
            <p><span>Please write your summary. </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi ultricies consequat tortor non facilisis. Phasellus vel 
                velit sed mi venenatis lobortis facilisis id lectus. Suspendisse 
                faucibus sem id justo interdum faucibus. Donec auctor porta est 
                et fermentum. Ut ornare tempor blandit. Interdum et malesuada 
                fames ac ante ipsum primis in faucibus. Proin non mollis nisl. 
                Sed aliquet non mi rhoncus pretium.</p>
        </div>
        <div class="col-md-12 profile">
            <div class="row">
                <div class="col-md-3"><p>Alamat</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Alamat Author</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Telephone</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Telephone</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Education</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Education</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Profession</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Profession</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Nationality</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Nationality</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Company</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Company</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Email</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Email</p></div>
            </div>
            <div class="row">
                <div class="col-md-3"><p>Address</p></div>
                <div class="col-md-1 pr-0 d-flex justify-content-end"><p>:</p></div>
                <div class="col-md-8"><p>Author's Address</p></div>
            </div>
            <div class="row col-md-12 profile">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480313!2d112.60827644979209!3d-7.966441481577961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575983762468!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}