{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <article class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row col-md-12 header">
                <img src="{% static 'img\blog\kendala-sepulsa.jpg' %}" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="p-date">25 September 2018</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p class="p-date">0 comment</p>
                </div>
            </div>
            <div class="row col-md-12 title">
                <h1>Punya Kendala? Segera Hubungi Customer Service Sepulsa!</h1>
                <p>Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa 
                    mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan 
                    transaksi di Sepulsa. Selain keluhan dan kritik, kamu juga bisa memberikan 
                    saran terkait transaksi di Sepulsa melalui Customer Service Sepulsa. 
                    Umumnya, pelanggan Sepulsa menghadapi tiga kendala berikut ini. </p>
                <a href="#">Baca Selengkapnya...</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </article>
    <div class="home-gap50"></div>
    <article class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row col-md-12 header">
                <img src="{% static 'img\blog\sms.png' %}" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="p-date">25 September 2018</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p class="p-date">0 comment</p>
                </div>
            </div>
            <div class="row col-md-12 title">
                <h1>OTP, Si Kode Rahasia nan Berbahaya</h1>
                <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan 
                    keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada 
                    awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu 
                    beranjak dari tempat duduk Anda dan pembayaran lunas dalam hitungan 
                    detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut 
                    bukan berarti tanpa celah.</p>
                <a href="#">Baca Selengkapnya...</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </article>
    <div class="home-gap50"></div>
{% endblock %}